/* Main top bar container */
.bh-topbar {
    width: 100%;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    transition: height 0.3s ease;
    position: fixed;
    z-index: 1000;
}

/* Logo styling */
.bh-logo {
    width: 300px;
    margin: 30px;
    font-size: 200%;
    font-weight: bold;
    margin-right: 20vw;
}

/* General list item styling */
.bh-topbar li {
    list-style-type: none;
}

/* Content container styling */
.bh-content {
    display: flex;
    justify-content: center;
}

/* Menu list styling */
.bh-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin-top: 30px;
}

/* Individual menu list item styling */
.bh-list {
    position: relative;
    cursor: pointer;
    margin-right: 200px;
    font-weight: bold;
    font-size: 200%;
}

/* Submenu styling */
.bh-submenu {
    justify-content: center; 
    align-items: center;
    display: block;
    list-style-type: none;
    width: 100%; /* Make submenu full width of parent */
    text-align: center; /* Align submenu text to the left */
    padding: 0;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

/* Show submenu on hover */
.bh-topbar:hover .bh-submenu {
    opacity: 1; /* Fade in submenu */
}

/* Submenu item styling */
.bh-sub {
    position: relative;
    font-size: 1.2rem;
    margin-top: 50px;
    text-align: center;
}

/* Top bar expansion on hover */
.bh-topbar:hover {
    height: 230px; /* Expand topbar height on hover */
}
