.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full viewport height */
    width: 100%;
    
}

.container {
    display: flex;
    flex-direction: row; /* Align items vertically */
    border-radius: 25px;
    padding: 20px;
    width: 100%; /* Adjust as necessary */
    
}

.calendar {
    margin-left: 60px;
    width: 60%;
}

.task-list{
    width: 40%;
}

.calendar, .task-list {
    border-radius: 5px;

}

.task-list {
    max-height: 60vh;
    overflow-y: auto;
}

.task-list::-webkit-scrollbar {
    display: none;
}
