/* 웹킷 브라우저 (크롬, 사파리 등)에서 스크롤바 숨기기 */
.no-scroll::-webkit-scrollbar {
    display: none;
}

/* 파이어폭스에서 스크롤바 숨기기 */
.no-scroll {
    scrollbar-width: none; /* 파이어폭스에서 스크롤바 너비를 없앰 */
    -ms-overflow-style: none;  /* 인터넷 익스플로러에서 스크롤바 숨기기 */
}
