.MainContainer {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 100%;
    /* height: calc(100vh - 120px); */
    margin-top: 120px; /* 유지 */
}

.container {
    display: grid;
    grid-template-columns: 350px 350px 900px; /* maincontent.module.css의 설정에 맞춤 */
    gap: 10px; /* 요소 간의 간격 */
    height: 80%; /* 높이 설정 */
    margin: 20px;
}

.Repositories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Commit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.CommitCode {
    display: grid;
    grid-template-rows: 550px 300px;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.CommitGpt {
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
