.GptCommitMsg{
    margin-top: 5px;
    font-size: 20px;
    padding: 10px;

}

.GptCommitAuthor{
    margin-top: 5px;
    font-size: 20px;
    padding: 10px;
}

.GptCommitChangeContainer{
    font-family : monospace;
    background-color: #000000bd;
    color: white;
  /* border-radius: 10px; */
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.GptCommitChangeContainer b, div{
    font : monospace;
}
.GptTotal{
    margin-top: 5px;
    font-size: 20px;
    padding: 10px;

}

.GptFileName{
    margin-top: 5px;
}

.GptChangeList{
    margin: 5px;
    padding-left: 15px;
    list-style: circle;
    font-weight: bold; 
}

.GptFile{
    padding-inline-start: 10px;
}

.GptFixList {
    margin-left: 40px;
}

.GptFixList li{
    padding-left: 15px;
    list-style-type: square;
    margin-top: 5px;
}