
.MainContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    width: 100%;
    margin-top: 120px;
    max-height: 80%; 
  }
  
  .Repositories, .CommitList, .CommitDetail {
    max-height: calc(100vh - 300px); /* 원하는 최대 높이로 설정 */
    overflow: auto; /* 스크롤이 가능하도록 설정 */
  }

  .container {
    display: grid;
    grid-template-columns: 250px 350px 900px; /* Changed last column to 1fr for flexibility */
    gap: 10px;
    height: 1000px; /* Changed to 100% */
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;

  }
  
  .Repositories {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #7b7979;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 46px;
    overflow-y: auto;
  }
  
  .repoTab {
    background-color: #ddd;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .repoTab a {
    color: black;
  }
  
  .CommitList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #7b7979;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 46px;
    overflow-y: auto; /* Add this line */
    height: calc(100% - 46px); /* Add this line */
  }
  
  .commitTab {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #ddd;
    padding-left: 15px;
  }
  
  .RepoTitle,
  .CommitTitle,
  .DetailTitle {
    margin-top: 0;
  }
  
  .CommitDetail {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #7b7979;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: calc(100% - 46px); /* Add this line */
    overflow-y: auto; /* Add this line */
  }
  
  .DetailContainer {
    /* overflow-y: auto; */
    height: 100%;
  }
  
  .CommitGpt {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #7b7979;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: calc(100% - 46px); /* Add this line */
    overflow-y: auto; /* Add this line */
  }
  
  .ToggleButton {
    cursor: pointer;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 10px;
    transition: background-color 0.5s, margin-top 0.5s;
  }
  
  .ToggleButton.active {
    background-color: #bbb;
    margin-top: 1px;
  }
  
  .ToggleContainer {
    display: flex;
    margin-left: 10px;
  }
  
  .CommitDetail,
  .CommitGpt {
    display: none;
  }
  
  .CommitDetail.active,
  .CommitGpt.active {
    display: block;
  }

  
  .Repositories li,
  .CommitList li {
    margin-right: 5px;
  }
  
  .Repositories ul::-webkit-scrollbar,
  .CommitList ul::-webkit-scrollbar,
  .DetailContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  .Repositories ul::-webkit-scrollbar-track,
  .CommitList ul::-webkit-scrollbar-track,
  .DetailContainer::-webkit-scrollbar-track {
    background-color: #eee;
  }
  
  .Repositories ul::-webkit-scrollbar-thumb,
  .CommitList ul::-webkit-scrollbar-thumb,
  .DetailContainer::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
  }
  
  .Repositories ul::-webkit-scrollbar-thumb:hover,
  .CommitList ul::-webkit-scrollbar-thumb:hover,
  .DetailContainer::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
