/* HelpDocs.module.css */
html{
  background-color: #3385344d;

}

.helpContainer {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background: #333;
  color: #fff;
  min-height: 70px;
  border-bottom: #0779e4 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 24px;
}

.container {
  display: grid;
  /* grid-template-columns: 2fr; */
  width: 70%;
  margin: auto;
  padding: 55px 0;
}

.ToggleContainer {
  display: flex;
  flex-direction: column;
}

.ToggleButton {
  cursor: pointer;
    padding: 10px;
    background-color: #4caf50;
    border: 1px solid #4caf50;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 10px;
    transition: background-color 0.5s;
}

.ToggleButton.active {
  background-color: #419c44;
  margin-top: 5px;
}

.ToggleContainer {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr;
  margin-left: 10px;
}

.mainContent {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contentItem {
  display: grid;
    /* grid-template-columns: 100px 900px; */
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;

}

.contentItem svg {
  display: flex;
  margin-right: 10px;
  vertical-align: middle;
  width: 150px;
  padding-bottom: 10px;
}

.contentItem p,
.contentItem h4,
.contentItem ul,
.contentItem ol {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.contentItem ul {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.sectionSeparator {
  margin-top: 20px;
  padding-top: 20px;
}

pre {
  background: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  margin: 10px 0;
}

code {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  overflow-x: auto;
}
.GitConnect {

}