.container {
    margin: 20px;
    display: grid;
    grid-template-columns: 350px 900px 300px; 
    gap: 10px; 
    height: 80vh; 
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px;
    background-color: #f0f0f0;
}

.login-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #41db2d;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.login-container button:hover {
    background-color: #41db2d;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 0.9rem;
}

.empty-space {
    flex: 1;
}

.calendar {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-area {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Ad-area{
    display: flex;
    flex-direction: column;
    gap: 10px; /* 내부 요소 사이의 간격 설정 */
    padding: 20px;
    background-color: #f0f0f0;
}

.calendarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: white;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    