.main {
    position: relative;
    width: 100%;
    height: calc(100vh - 110px); /* 헤더 높이만큼 조정 */
    /* overflow-y: scroll; */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    top: 110px; /* 헤더 높이만큼 내림 */
    
}

/* Each scrollable section */
.section {
    width: 100%;
    height: calc(100vh - 110px);
    scroll-snap-align: start;
}

/* Content container */
.content {
    padding: 20px;
    height: calc(100vh - 150px); /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}
