@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
body{
    font-family: 'Freesentation-9Black';
}
.main {
    position: relative;
    width: 100%;
    height: calc(100vh - 110px); /* 헤더 높이만큼 조정 */
    /* overflow-y: scroll; */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    top: 110px; /* 헤더 높이만큼 내림 */
    
}

/* Each scrollable section */
.section {
    width: 100%;
    height: calc(100vh - 110px);
    scroll-snap-align: start;
}

/* Content container */
.content {
    padding: 20px;
    background-color: #33853530;
    height: calc(100vh - 150px); /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

