/* TaskList.module.css */
.container {
    margin: 0;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 30px;
    background-color: white;
    overflow-y: hidden; /* 수직 스크롤 허용 */
}

.container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
}

.edtContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #9BE9A8;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.date {
    margin-left: auto;
    padding-left: 10px;
}

.task {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    height: 50px;
}
.tasks {
    overflow-y: auto;
    height: 80%;
}
.tasks::-webkit-scrollbar{
    display: none;
}

.task:last-child {
    border-bottom: none;
}

.task div {
    overflow-x: auto;
    cursor: pointer;
}

.task .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Make buttons span the full width */
    margin-top: 10px;
}

.green {
    background-color: #4caf50;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.red {
    background-color: #f44336;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    /* margin-right: 10px; */
    /* width: 20px; */
    /* width: 20px;
    height: 20px; */
}

/* 추가된 strikethrough 스타일 */
.strikethrough {
    text-decoration: line-through;
    color: grey; /* 텍스트 색상도 변경 (선택사항) */
}

.save {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    font-size: 10px;
    background-color: #4CAF50; /* Green color */
    color: white;
    transition: background-color 0.3s ease;
}

.save:hover {
    background-color: #45a049; /* Darker green on hover */
}

.cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    font-size: 10px;
    background-color: #f44336; /* Red color */
    color: white;
    transition: background-color 0.3s ease;
}

.cancel:hover {
    background-color: #e53935; /* Darker red on hover */
}

.acttext {
    width: 70%;
    padding: 12px; /* Increased padding for more space */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Freesentation-9Black', sans-serif; /* Apply custom font */
    margin-right: 10px;
}