/* TaskList.module.css */
.container {
    width: 100%;
    max-width: 480px;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: white;
    overflow-y: auto; /* 수직 스크롤 허용 */
    max-height: 500px; /* 최대 높이 설정 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
}

.edtContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    overflow-y: auto; /* Added to allow scrolling if content overflows */
    height: auto; /* Set a maximum height to limit container size */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #9BE9A8;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.date {
    margin-left: auto;
    padding-left: 10px;
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    height: 50px;
}

.task:last-child {
    border-bottom: none;
}

.task span {
    margin-left: 10px;
    cursor: pointer;
}

.task .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Make buttons span the full width */
    margin-top: 10px; /* Add some space above the buttons */
}

.green {
    background-color: #4caf50;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.red {
    background-color: #f44336;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* 추가된 strikethrough 스타일 */
.strikethrough {
    text-decoration: line-through;
    color: grey; /* 텍스트 색상도 변경 (선택사항) */
}

.save {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    font-size: 10px;
    background-color: #4CAF50; /* Green color */
    color: white;
    transition: background-color 0.3s ease;
}

.save:hover {
    background-color: #45a049; /* Darker green on hover */
}

.cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    font-size: 10px;
    background-color: #f44336; /* Red color */
    color: white;
    transition: background-color 0.3s ease;
}

.cancel:hover {
    background-color: #e53935; /* Darker red on hover */
}

.acttext {
    width: 70%;
    padding: 12px; /* Increased padding for more space */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Freesentation-9Black', sans-serif; /* Apply custom font */
    margin-right: 10px;
}