/* MobileTaskList.module.css */
.container {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #ffffff85;
    margin-bottom: 50px;
}

.header {
    background-color: #9BE9A8;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.date {
    margin-left: auto;
    padding-left: 10px;
}

.task {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    height: 50px;
}

.task:last-child {
    border-bottom: none;
}

.green {
    background-color: #4caf50;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.red {
    background-color: #f44336;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.strikethrough {
    text-decoration: line-through;
    color: grey;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
        width: 90%;
        margin-top: 15px;
        border-radius: 15px;
    }

    .header {
        padding: 5px;
        flex-direction: column;
    }
    
    .date {
        margin-left: 0;
        padding-left: 0;
        margin-top: 5px;
    }

    .task {
        padding: 5px;
        height: 50px;
    }

    /* .task span {
        margin-left: 5px;
    } */

    .green, .red {
        width: 15px;
        height: 15px;
    }
}
