.calendarContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  position: fixed;
  margin-top: 140px;
  margin-left: 10%;
}

/* 모바일 버전 */
@media (max-width: 768px) {
  .MyPageMain {
      display: block;
      margin: 0 auto;
      margin-top: 60px;
      width: 95%;
      height: auto;
      padding: 10px;
      background-color: #33853530;
      border-radius: 10px;
  }

  .MyPageProfile {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ccc;
      gap: 10px;
      margin: 20px auto;
      padding: 20px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 90%;
  }

  .MyAvatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
  }

  .ProfileInfo {
      text-align: center;
  }

  .MyPageProfile p {
      margin: 0;
      font-size: 16px;
  }

  .MyPageProfile button {
      width: 80px;
      color: black;
      border: 1px solid #aeaeae;
      padding: 5px 10px;
      cursor: pointer;
      margin-top: 10px;
      border-radius: 10px;
  }

  .MyAchievement {
      margin: 20px auto;
      border: 1px solid #ccc;
      padding: 20px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 90%;
  }

  .NavTabs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }

  .NavTabs button {
      flex: 1;
      padding: 10px;
      border: none;
      background-color: #f0f0f0;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;
  }

  .NavTabs button:hover {
      background-color: #e0e0e0;
  }

  .NavTabs .activeTab {
      border-bottom: 2px solid #4CAF50;
      background-color: white;
  }

  .TabContent {
      padding: 10px;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      border-radius: 10px;
  }

  .TabContent h3 {
      margin-bottom: 40px;
      font-size: 1.2rem;
  }

  .achievement {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 20px;
  }

  .achievement img {
      width: 40px;
      height: 40px;
  }

  .grayScale {
      filter: grayscale(100%);
      transition: filter 0.5s ease;
  }

  .progressBarContainer {
      width: 100%;
      height: 10px;
      background-color: #e0e0e0;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
  }

  .progressBar {
      width: 0;
      height: 100%;
      background-color: #76c7c0;
  }

  .achievementGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  }

  .achievementItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      padding-top: 20px;
      min-width: 100px;
      min-height: 100px;
  }
}
